# Node.js dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# misc
*.log
.idea

# Android
android/app/debug.keystore
*.jks
*.keystore
*.p8
*.p12
*.key
*.pem
*.apk
*.aab
*.orig.*
*.so

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and editors
.idea/
.vscode/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Env files
.env*
.env.*.local

# Log files
*.log

# Temporary files
tmp/
temp/
.cache/
